
    body{
    background-color: black;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
   }
    .youcode{
        color:#17d3fd ;
        font-size: 80px;
        text-align: center;
    }
